h1 {
	text-align: center;
	font-size: 250%;
}

h2 {
	text-align: center;
	padding-top: 10px;
	background-color: #68B2DA;
}

p {
	padding: 15px;
	padding-top: 5px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 5px;
	background-color: #FFF;
}

#contact {
	text-align: center;
}

#profile {
	max-width: 300px;
	max-height: 300px;
	/*next 2 lines center image*/
	margin: auto;
	display: block;
	border-radius: 50%;
}

/*need to decide what format I want for photos*/
.DFA {
	max-height: 250px;
	max-width: 500px;
	padding: 5px;
	padding-bottom: 10px;
}

#DFAP {
	text-align: center;
}

#function {
	max-height: 250px;
	max-width: 500px;
	margin: auto;
	display: block;
	padding-bottom: 10px;
}

#header {
	background-color= #C33BBF;
}

* {
	font-family: 'Work Sans', sans-serif;
}

body {
	background-color: #1E89C3;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}