h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/*change color?*/
	background-color: #00FFFF
}

#bio {
	text-align: center;
	line-height: 40px;
}

#profile {
	max-width: 100px;
	max-height: 100px;
	/*next 2 lines center image*/
	margin: auto;
	display: block;
	border-radius: 50%;
}

/*need to decide what format I want for photos*/
.DFA {
	max-height: 250px;
	max-width: 500px;
	padding: 5px;
	padding-bottom: 10px;
}

#DFAP {
	text-align: center;
}

#function {
	max-height: 250px;
	max-width: 500px;
	margin: auto;
	display: block;
	padding-bottom: 10px;
}

#header {
	background-color= #C33BBF;
}

* {
	font-family: Helvetica, sans-serif;
}