h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #00FFFF
}

#bio {
	text-align: center;
	line-height: 40px;
}

#profile {
	max-width: 100px;
	max-height: 100px;
	/*next 2 lines center image*/
	margin: auto;
	display: block;
	border-radius: 50%;
}

/*need to decide what format I want for photos*/
#group {
	diplay: block;
	margin: auto;
	max-height: 250px;
	max-width: 500px;
}

#header {
	background-color= #c33bbf;
}

* {
	font-family: Helvetica, sans-serif;
}

.container {

}

.col-sm-4 h3{
	text-align: center;
}